POO/build.xml
POO/build/*
*.class
/AOO/MVC/nbproject/private/
/AOO/MVC/build/
/AOO/trabalho_final_poo/nbproject/private/
/trabalho_final_poo/nbproject/private/
/trabalho_final_poo/build/
/AOO/TrabalhoFinalCRUD/nbproject/private/