{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <title>Agenda</title>
  </head>

  <body>
    <h1>Agenda</h1>
    <form action="{% url 'busca' %}">
      <input
        id="search-bar"
        type="text"
        name="search"
        placeholder="Buscar contato"
      />
      <button id="btn-search" type="submit">Buscar</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Ativo</th>
        </tr>
      </thead>
      <tbody>
        {% for contato in contatos %}
        <tr>
          <td>{{contato.id}}</td>
          <td><a href="{% url 'contato' contato.id %}">{{contato.nome}}</a></td>
          <td>{{contato.email}}</td>
          <td>{{contato.cpf}}</td>
          {% if contato.ativo == True %}
          {% comment %} Checked green, unchecked red {% endcomment %}
          <td><i id="checked" class="fa-solid fa-circle-check"></i></td>
          {% else %}
            <td><i id="unchecked" class="fa-solid fa-circle-xmark"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a id="adicionar" href="{% url 'create' %}">Novo Contato</a>
    <div class="pagination">
      {% if contatos.has_previous %}
      <a href="?page=1">&laquo; Primeira</a>
      <a href="?page={{ contatos.previous_page_number }}"
        >{{ contatos.previous_page_number }}</a
      >
      {% endif %}

      <span class="current-page">{{ contatos.number }}</span>

      {% if contatos.has_next %}
      <a href="?page={{ contatos.next_page_number }}">{{ contatos.next_page_number }}</a>
      <a href="?page={{ contatos.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </div>
  </body>
</html>
