body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #555;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.prato {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.prato img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.prato h2 {
  margin: 10px;
}

.prato p {
  margin: 10px;
  font-size: 0.8em;
}

.prato button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prato button:hover {
  background-color: #333;
}
