{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <title>Contato</title>
  </head>
  <body>
    <button id="voltar"><i class="fas fa-arrow-left"></i></button>
    <div id="container">
      <h1 id="titulo">Contato</h1>
      {% if contato %}
      <div
        class="img-contato"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 245px;
          height: 245px;
          background-color: transparent;
          margin: 0 auto;
          border-radius: 50%;
          box-shadow: 0px 0px 20px 1px #00000077;
        "
      >
        <img
          src="{{contato.foto_url}}"
          alt="Foto de {{contato.nome}}"
          style="
            width: 240px;
            height: 240px;
            border-radius: 50%;
            margin: 0 auto;
          "
        />
      </div>
      <div id="info-contato">
        <p class="item-info"><strong>Nome:</strong> {{contato.nome}}</p>
        <p class="item-info"><strong>CPF:</strong> {{contato.cpf}}</p>
        <p class="item-info"><strong>Email:</strong> {{contato.email}}</p>
        <p class="item-info"><strong>Telefone:</strong> {{contato.telefone}}</p>
        <p class="item-info"><strong>Altura:</strong> {{contato.altura}}</p>
        <p class="item-info">
          <strong>Descrição:</strong> {{contato.descricao}}
        </p>
        <p class="item-info">
          <strong>Data de nascimento:</strong> {{contato.data_nascimento}}
        </p>
        {% if contato.ativo == True %}
        <p class="item-info"><strong>Ativo:</strong> Sim</p>
        {% else %}
        <p class="item-info"><strong>Ativo:</strong> Não</p>
        {% endif %}
      </div>
      {% else %}
      <p id="contato-nao-encontrado">Contato não encontrado</p>
      {% endif %}
      <a id="apagar" href="{% url 'delete' contato.id %}">Apagar</a>
      <a id="editar" href="{% url 'edit' contato.id %}">Editar</a>
    </div>

    <script>
      const voltar = document.querySelector('#voltar')
      voltar.addEventListener('click', () => {
          window.location.href = "{% url 'home' %}"
      })

      {% for message in messages %}
          alert('{{message}}')
      {% endfor %}
    </script>
  </body>
</html>
