@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root {
  --main-color: #f03c06;
  --second-color: #5c5c5c;
  --tertiary-color: #df937c;
  --main-font: "Raleway", sans-serif;
}

/* geral - celular */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background-color: rgb(241, 241, 241);
}

header {
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: rgb(245, 245, 245);
}

header a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  font-size: 30px;
  padding: 10px;
}

header a > i.fa-search {
  position: absolute;
  color: #5c5c5c;
  top: 20px;
  right: 20px;
}

.pos-header {
  margin-bottom: 30px;
  background-color: white;
}

.pos-header > ul {
  display: inline-flex;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  font: 20px "Raleway", sans-serif;
  padding: 15px 0px;
}

.pos-header > ul > li {
  display: inline-block;
  text-align: center;
}

.pos-header > ul > li > a {
  color: white;
  text-decoration: none;
}

.pos-header > ul > li > a > i {
  padding: 0px 10px;
}

.pos-header > h1 {
  text-align: center;
  font: 30px "Raleway", sans-serif;
  margin: 20px;
}

.pos-header > label {
  display: block;
  margin: 0px 20px;
  margin-top: 10px;
}

.pos-header > input {
  width: 90%;
  padding: 10px 10px;
  margin: 0px 20px;
}

.pos-header > input.submit {
  width: fit-content;
  padding: 10px 10px;
  margin: 10px 20px 40px 20px;
  background-color: var(--second-color);
  color: white;
  font: 20px "Raleway", sans-serif;
  border: none;
}

section.offers {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 20px;
}

section.offers .grid-item {
  position: relative;
  display: block;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: rgb(255, 255, 255);
}

.grid-item > span {
  position: absolute;
  transform: translate(0%, -150%);
  font-weight: 300;
  font-family: var(--main-font);
  font-size: 20px;
  margin-left: 20px;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

section.nature {
  margin: 20px;
}

section.nature > p.normal {
  padding: 20px 0px;
}

section.nature > img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

section.nature > .card-nature {
  background-color: white;
  padding-bottom: 10px;
}

section.nature > .card-nature > span.nature {
  display: block;
  padding-top: 20px;
  font: 25px "Raleway", sans-serif;
  margin: 0px 20px;
}

p.price {
  margin: 15px 20px;
  color: #5c5c5c;
}

.recuo {
  margin: 20px 20px;
}

.buy {
  margin: 20px 40px;
}

section.newsletter {
  background-color: var(--second-color);
  color: white;
  margin: 0px 20px;
  padding: 5px 20px;
}

section.newsletter > h1 {
  font: 30px "Raleway", sans-serif;
  margin: 20px 0px;
}

section.newsletter > p {
  font: 20px "Raleway", sans-serif;
  margin: 20px 0px;
}

section.newsletter > input#email-newsletter {
  width: 100%;
  padding: 10px 10px;
  font: 20px "Raleway", sans-serif;
  margin: 0px 0px 10px 0px;
}

.subscribe {
  width: 120px;
  padding: 10px 10px;
  font: 20px "Raleway", sans-serif;
  margin: 0px 0px 10px 0px;
  background-color: var(--tertiary-color);
  color: white;
  border: none;
}

section.contact {
  margin: 40px 20px;
}

section.contact > p {
  font: 20px "Raleway", sans-serif;
  margin: 20px 0px;
}

.contacts > p {
  font: 18px "Raleway", sans-serif;
  margin: 10px 0px;
}

.contacts > p > i {
  padding: 0px 20px 0px 0px;
}

.ct-input {
  width: 100%;
  padding: 10px 10px;
  font: 20px "Raleway", sans-serif;
  margin: 0px 0px 10px 0px;
}

#send-msg {
  width: 200px;
  padding: 15px 10px;
  font: 20px "Raleway", sans-serif;
  margin: 0px 0px 10px 0px;
  background-color: black;
  color: white;
  border: none;
}

footer {
  background-color: rgb(241, 241, 241);
  text-align: center;
  color: #5c5c5c;
}

footer p,
.social p {
  font: 20px "Raleway", sans-serif;
  margin: 20px 0px;
}

footer i {
  font-size: 30px;
}
